<div class="row"style="padding:50px 0px">
  <% for (let product of products){ %>
    <div class="col-lg-3 mb-3 ">
     <div class="card shadow-lg mx-auto" style="width: 18rem;">
        <img src="<%=product.img%>" class="card-img-top " style="height:200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. <%=product.name%></h5>
          <h6 class="card-text"><%=product.price%></h6>
          <p class="card-text">Experience: <%=product.desc%></p>
          <a href="/doctors/<%=product.id%>" class="btn btn-primary my-2">Doctor's details</a>
          <% if(user && user.profile!='retailer'){%>
        <form action="/doctors/saved/<%=product.id%>/add" method="post" class="d-inline"><button class="btn btn-primary">Save for Later</button></form>
<%}%>
          <% if(user && (product.creator == user.id||user.isAdmin)) { %>
            <a href="/doctors/<%=product.id%>/edit" class="btn btn-primary my-3">Update</a>
          <form action="/doctors/<%=product.id%>?_method=delete" method="post" class="d-inline">
            <button class="btn btn-danger">Delete</button>
          </form>
            <%}%>
        </div>
      </div> 
    </div>
      <%}%>
</div>